<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="chinese" class="Chinese">
        <property name="name" value="Alexander 温"></property>
        <property name="age" value="18"></property>
        <property name="sex" value="true"></property>
<!--        <property name="carList">-->
<!--            <list>-->
<!--                <ref bean="car1"></ref>-->
<!--                <ref bean="car2"></ref>-->
<!--            </list>-->
<!--        </property>-->
        <property name="carList" ref="carList">

        </property>
    </bean>
    <bean id="englishman" class="Englishman" scope="prototype">
        <constructor-arg type="java.lang.String" value="Alex Wen"></constructor-arg>
        <constructor-arg type="int" value="36"></constructor-arg>
        <constructor-arg type="boolean" value="true"></constructor-arg>
        <constructor-arg name="carMap">
            <map>
                <entry key="1" value-ref="car3"></entry>
                <entry key="2" value-ref="car4"></entry>
            </map>
        </constructor-arg>
        <property name="carMap">
            <util:map>
                <entry key="1" value-ref="car3"></entry>
                <entry key="2" value-ref="car4"></entry>
            </util:map>
        </property>
    </bean>
    <bean id="car1" class="Car">
        <property name="band" value="奔驰"></property>
        <property name="type" value="S600 Sedan"></property>
        <property name="color" value="白色"></property>
    </bean>
    <bean id="car2" class="Car">
        <property name="band" value="宝马"></property>
        <property name="type" value="X7 MPV"></property>
        <property name="color" value="红色"></property>
    </bean>
    <bean id="car3" class="Car">
        <property name="band" value="Mercedes-Benz"></property>
        <property name="type" value="GLC SUV"></property>
        <property name="color" value="Black"></property>
    </bean>
    <bean id="car4" class="Car">
        <property name="band" value="Bavarian Motor Work"></property>
        <property name="type" value="Mini Coupe"></property>
        <property name="color" value="Red"></property>
    </bean>
    <util:list id="carList">
        <ref bean="car1"></ref>
        <ref bean="car2"></ref>
    </util:list>
    <util:map id="carMap">
        <entry key="1" value-ref="car3"></entry>
        <entry key="2" value-ref="car4"></entry>
    </util:map>
</beans>