<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleDateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd"/>
    </bean>

    <bean id="alexHometown" class="com.conquer_java.spring.pojo.Address">
        <constructor-arg name="province" value="AnHui"/>
        <constructor-arg name="prefecture" value="HeFei"/>
        <constructor-arg name="county" value="FeiDong"/>
        <constructor-arg name="town" value="CuoZhen"/>
        <constructor-arg name="village" value="ZhenXing"/>
        <constructor-arg name="house" value="888"/>
    </bean>

    <bean id="alex" class="com.conquer_java.spring.pojo.Student">
        <property name="id" value="24"/>
        <property name="name" value="Alexander00Win99"/>
        <!--属性引用ref可以分开两行书写-->
        <!--<property name="hometown">-->
            <!--<ref bean="alexHometown"/>-->
        <!--</property>-->
        <property name="hometown" ref="alexHometown"/>
        <!--String类型赋值无法直接Date类型属性birthdate，需要借助FactoryBean进行类型转换-->
        <!--factory-bean:java.text.SimpleDateFormat类型的fatory-method:parse方法实现-->
        <property name="birthdate">
            <bean factory-bean="simpleDateFormat" factory-method="parse">
                <constructor-arg value="2020-02-02 12:00:00.0000"/>
            </bean>
        </property>
        <property name="courses">
            <array>
                <value>微积分</value>
                <value>线性代数</value>
                <value>离散几何</value>
                <value>概率论</value>
                <value>高等物理</value>
                <value>流体力学</value>
                <value>数字电路</value>
                <value>模拟电路</value>
            </array>
        </property>
        <property name="scores">
            <!--<map>标签是否指定key-type和value-type均可-->
            <map key-type="java.lang.String" value-type="java.lang.Integer">
                <entry key="高等物理" value="99"/>
                <entry key="流体力学" value="99"/>
                <entry key="数字电路" value="99"/>
                <entry key="模拟电路" value="99"/>
            </map>
        </property>
        <property name="creditCards">
            <!--<map>标签是否指定key-type和value-type均可-->
            <map>
                <entry key="招商银行" value="xxxx xxxx xxxx xxxx"/>
                <entry key="民生银行" value="9999 9999 9999 9999"/>
            </map>
        </property>
        <property name="books">
            <list value-type="java.lang.String">
                <value>红楼梦</value>
                <value>三国演义</value>
                <value>异形</value>
                <value>终结者</value>
                <value>阿甘正传</value>
                <value>乱世佳人</value>
                <value>葛底斯堡</value>
                <value>众神与将军</value>
            </list>
        </property>
        <property name="songs">
            <list value-type="java.lang.String">
                <value>殇</value>
                <value>Regret</value>
                <value>Exodus</value>
                <value>Honour</value>
            </list>
        </property>
        <property name="movies">
            <list value-type="java.lang.String">
                <value>开国大典</value>
                <value>上甘岭</value>
                <value>Gone With The Wind</value>
            </list>
        </property>
        <property name="sports">
            <list value-type="java.lang.String">
                <value>basketball</value>
                <value>tennis</value>
                <value>snooker</value>
            </list>
        </property>
        <property name="games">
            <list value-type="java.lang.String">
                <value>BoB</value>
                <value>CoC</value>
                <value>LoL</value>
            </list>
        </property>
        <property name="hobbies">
            <set value-type="java.util.HashSet">
                <ref bean="books"/>
                <ref bean="songs"/>
                <ref bean="moives"/>
                <ref bean="sports"/>
                <ref bean="games"/>
            </set>
        </property>
        <property name="info">
            <props>
                <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="url">jdbc:mysql://localhost:3306/demo_mybatis</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
    <!--ArrayList<String>——外层必须指定ArrayList类型+中层是否指定<constructor-arg index="0">构造器下标不作强制要求+内层是否指定Sring泛型不作强制要求-->
    <bean id="books" class="java.util.ArrayList">
        <constructor-arg index="0">
            <list value-type="java.lang.String">
                <value>红楼梦</value>
                <value>三国演义</value>
                <value>异形</value>
                <value>终结者</value>
                <value>阿甘正传</value>
                <value>乱世佳人</value>
                <value>葛底斯堡</value>
                <value>众神与将军</value>
                <!--下面输入证明List<String>泛型在spring xml中属于松散类型——不受父标签value-type限制-->
                <value type="java.lang.Float">8.1</value>
                <value type="java.lang.Double">9.9</value>
            </list>
        </constructor-arg>
    </bean>
    <!--ArrayList<String>——外有+中无+内无：OK-->
    <bean id="songs" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>殇</value>
                <value>Regret</value>
                <value>Exodus</value>
                <value>Honour</value>
            </list>
        </constructor-arg>
    </bean>
    <!--ArrayList<String>——外有+中无+内有：OK-->
    <bean id="moives" class="java.util.ArrayList">
        <constructor-arg>
            <list value-type="java.lang.String">
                <value>开国大典</value>
                <value>上甘岭</value>
                <value>Gone With The Wind</value>
            </list>
        </constructor-arg>
    </bean>
    <!--ArrayList<String>——外有+中有+内无：OK-->
    <bean id="sports" class="java.util.ArrayList">
        <constructor-arg index="0">
            <list>
                <value>basketball</value>
                <value>tennis</value>
                <value>snooker</value>
            </list>
        </constructor-arg>
    </bean>
    <!--ArrayList<String>——外有+中有+内有：OK-->
    <bean id="games" class="java.util.ArrayList">
        <constructor-arg index="0">
            <list value-type="java.lang.String">
                <value>BoB</value>
                <value>CoC</value>
                <value>LoL</value>
            </list>
        </constructor-arg>
    </bean>
</beans>