<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd HH:mm:ss.ssss"/>
    </bean>
    <bean id="calendarFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd HH:mm:ss.ssss"/>
    </bean>
    <bean id="gregorianCalendar" class="java.util.GregorianCalendar">
        <constructor-arg index="0" value="1981"/>
        <constructor-arg index="1" value="01"/>
        <constructor-arg index="2" value="27"/>
        <constructor-arg index="3" value="12"/>
        <constructor-arg index="4" value="00"/>
        <constructor-arg index="5" value="00"/>
        <constructor-arg index="6" value="0000"/>
    </bean>
    <bean id="user" class="com.conquer_java.spring.pojo.User">
        <property name="name" value="Alexander 温"/>
        <property name="age" value="18"/>
        <property name="birthdate">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2020-02-02 12:00:00.0000"/>
            </bean>
        </property>
        <property name="birthday">
            <ref bean="gregorianCalendar"/>
        </property>
    </bean>
    <bean id="myCalendarFactoryBean" class="com.conquer_java.spring.pojo.MyCalendarFactoryBean" p:year="2021" p:month="01" p:day="27" p:hour="12" p:minute="00" p:second="00"/>
<!--    <bean id="userC" class="com.conquer_java.spring.pojo.User" c:name="Alex Wen" c:age="18" c:birthday-ref="myCalendarFactoryBean"/>-->
    <bean id="userP" class="com.conquer_java.spring.pojo.User" p:name="Alexander00Win99" p:age="18" p:birthday-ref="myCalendarFactoryBean">
        <property name="birthdate">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2020-02-02 12:00:00.0000"/>
            </bean>
        </property>
    </bean>
<!--    <bean id="userC" class="com.conquer_java.spring.pojo.User" c:name="Alex Wen" c:age="18" c:birthdate-ref="birthdate"/>-->
<!--    <bean id="userP" class="com.conquer_java.spring.pojo.User" p:name="Alexander00Win99" p:age="18" p:birthdate-ref="birthdate"/>-->
</beans>