<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用spring创建bean对象-->
    <bean id="userDaoImpl" class="com.conquer_java.spring.dao.UserDaoImpl"/>
    <bean id="mysqlImpl" class="com.conquer_java.spring.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="com.conquer_java.spring.dao.UserDaoOracleImpl"/>
    <bean id="sqlserverImpl" class="com.conquer_java.spring.dao.UserDaoSqlserverImpl"/>
    <bean id="userServiceImpl" class="com.conquer_java.spring.service.UserServiceImpl">
        <!--ref：引用spring中已经创建好的bean对象-->
        <property name="userDao" ref="userDaoImpl"/>
<!--        <property name="userDao" ref="mysqlImpl"/>-->
<!--        <property name="userDao" ref="oracleImpl"/>-->
<!--        <property name="userDao" ref="sqlserverImpl"/>-->
    </bean>
</beans>