<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conquer_java.spring.mapper.UserMapper">
    <insert id="createUser" parameterType="com.conquer_java.spring.pojo.User">
        insert0 into demo_mybatis.user (id, name, password, datetime) values (#{id}, #{name}, #{password}, #{datetime});
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from demo_mybatis.user where id = #{id};
    </delete>
    <select id="selectAll" resultType="com.conquer_java.spring.pojo.User">
        select * from demo_mybatis.user;
    </select>
    <select id="selectOne" parameterType="int" resultType="com.conquer_java.spring.pojo.User">
        select * from demo_mybatis.user where id = #{id};
    </select>
</mapper>